#navigation_default {
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
  align-items: center; 
  height: 44px; 
  width:100%;  
  background-color:rgba(242, 242, 242, 1);
}
#u287_div {
    border-width:0px;
    left:0px;
    top:0px;
    width:100%;
    background:inherit;
    background-color:rgba(242, 242, 242, 1);
    border:none;
    border-left:0px;
    border-top:0px;
    border-right:0px;
    border-radius:0px;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  #u287 {
    border-width:0px;
    width:100%;    
    height:100%;
    display:flex;
  }
  #u287 .text {
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u287_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  #u288_img {
    border-width:0px;
    left:0px;
    top:0px;
    width:18px;
    height:14px;
  }
  #u288 {
    border-width:0px;
    width:18px;
    height:14px;
    display:flex;
    margin-left: 5px;
  }
  #u288 .text {
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u288_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
 
  #u291_img {
    border-width:0px;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
  }
  #u291 {
    border-width:0px;
    width:24px;
    height:24px;
    display:flex;
    margin-right: 5px;
  }
  #u291 .text {
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u291_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  
#u313_div {
    border-width:0px;
    left:0px;
    top:0px;
    height:27px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Arial Fett', 'Arial Standard', 'Arial';
    font-weight:700;
    font-style:normal;
    font-size:15px;
    color:#555555;
  }
  #u313 {
    border-width:0px;
    display: flex;
    width:100%;
    height:27px;
    display:flex;
    font-family:'Arial Fett', 'Arial Standard', 'Arial';
    font-weight:700;
    font-style:normal;
    font-size:15px;
    color:#555555;
  }
  #u313 .text {
    padding:5px 5px 5px 5px;
    box-sizing:border-box;
    width:100%;
    display: flex;
    justify-content: center;
  }
  #u313_text {
    border-width:0px;
    white-space:nowrap;
    text-transform:none;
  }