@import 'themes';
@import '~@nebular/theme/styles/globals';
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Lato', sans-serif;}

// SDK Proleit
.p-text{
    p {
        margin: 0;
    }
    small {
        color: #999;
    }
} 

p {
  font-size: 14px;
}


.p-button {
    height: 30px;
    border-radius: 2px;
    background-color: #F0F0F0;
    border: 1px solid #F0F0F0;
    color: #39618F;
  }

  .p-dropdown {
    position: relative;
    display: inline-block;
    height: 35px;
    border: 1px solid #d7d7d7;
    color: #39618F;
    span {
        padding: 5px 40px 5px 5px;
        vertical-align: -webkit-baseline-middle;
    }
    i {
        vertical-align: -webkit-baseline-middle;
    } 
  }
  
  .p-dropdown-content {
    display: none;
    background-color: #F0F0F0;
    width: auto;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    z-index: 1;
    margin-top: 5px;
    
  }
  
  .p-dropdown:hover .p-dropdown-content {
    display: block;
  }