<!-- <div style="display: flex; flex-direction: row;"> -->
    <!-- Unnamed (Rectangle) -->
    <!-- <div id="u287" class="ax_default">
        <div id="u287_div" class=""></div>
        <div id="u287_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div> -->
    <div style="display: flex; flex-direction: row; justify-content: space-between;align-items: center; height: 44px;  width:100%;  background-color:rgba(242, 242, 242, 1);">
        <!-- Unnamed (Shape) -->
        <div id="u288" class="ax_default icon">
            <img id="u288_img" class="img " src="../../../assets/img/u288.svg" />
            <div id="u288_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
        <!-- Unnamed (Text) -->
        <div id="u313" class="ax_default label" data-label="Fertig">
            <div id="u313_div" class=""></div>
            <div id="u313_text" class="text ">
                <p><span>{{title}}</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u291" class="ax_default image1">
            <img id="u291_img" class="img " src="../../../assets/img/u289.svg" />
            <div id="u291_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    <!-- </div> -->
</div>