.ax_default {
    font-family:'Arial Standard', 'Arial';
    font-weight:400;
    font-style:normal;
    font-size:13px;
    letter-spacing:normal;
    color:#333333;
    vertical-align:none;
    text-align:center;
    line-height:normal;
    text-transform:none;
  }
//   .box_2 {
//   }
//   .heading_1 {
//     font-family:'Arial Standard', 'Arial';
//     font-weight:bold;
//     font-style:normal;
//     font-size:32px;
//     text-align:left;
//   }
//   .heading_2 {
//     font-family:'Arial Standard', 'Arial';
//     font-weight:bold;
//     font-style:normal;
//     font-size:24px;
//     text-align:left;
//   }
//   .heading_3 {
//     font-family:'Arial Standard', 'Arial';
//     font-weight:bold;
//     font-style:normal;
//     font-size:18px;
//     text-align:left;
//   }
//   .heading_4 {
//     font-family:'Arial Standard', 'Arial';
//     font-weight:bold;
//     font-style:normal;
//     font-size:14px;
//     text-align:left;
//   }
//   .heading_5 {
//     font-family:'Arial Standard', 'Arial';
//     font-weight:bold;
//     font-style:normal;
//     text-align:left;
//   }
//   .heading_6 {
//     font-family:'Arial Standard', 'Arial';
//     font-weight:bold;
//     font-style:normal;
//     font-size:10px;
//     text-align:left;
//   }
//   .label {
//     font-size:14px;
//     text-align:left;
//   }
//   .paragraph {
//     text-align:left;
//   }
//   .line {
//   }
//   .table_cell {
//   }
//   .connector {
//   }
//   .form_hint {
//     color:#999999;
//   }
//   .form_disabled {
//   }
//   .flow_shape {
//   }
//   .icon {
//   }
//   .paragraph1 {
//     font-family:'Helvetica Neue Standard', 'Helvetica Neue';
//     font-weight:400;
//     font-style:normal;
//     font-size:16px;
//     color:#000000;
//     text-align:left;
//   }
//   .shape {
//     font-family:'Helvetica Neue Standard', 'Helvetica Neue';
//     font-weight:400;
//     font-style:normal;
//     font-size:16px;
//     color:#000000;
//   }
//   .image {
//     font-family:'Helvetica Neue Standard', 'Helvetica Neue';
//     font-weight:400;
//     font-style:normal;
//     font-size:13px;
//     color:#000000;
//   }
//   .shape1 {
//   }
//   .ellipse {
//   }
//   .box_1 {
//   }
//   .checkbox {
//     text-align:left;
//   }
//   .text_field {
//     color:#000000;
//     text-align:left;
//   }
//   .image1 {
//   }
//   .primary_button {
//     color:#FFFFFF;
//   }
//   .link_button {
//     color:#169BD5;
//   }
//   .radio_button {
//     text-align:left;
//   }
//   .box_3 {
//   }
//   textarea, select, input, button { outline: none; }
  
#u287_div {
    border-width:0px;
    left:0px;
    top:0px;
    width:100%;
    height:44px;
    background:inherit;
    background-color:rgba(242, 242, 242, 1);
    border:none;
    border-left:0px;
    border-top:0px;
    border-right:0px;
    border-radius:0px;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  #u287 {
    border-width:0px;
    width:100%;
    height:44px;
    display:flex;
  }
  #u287 .text {
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u287_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  #u288_img {
    border-width:0px;
    left:0px;
    top:0px;
    width:18px;
    height:14px;
  }
  #u288 {
    border-width:0px;
    width:18px;
    height:14px;
    display:flex;
    margin-left: 5px;
  }
  #u288 .text {
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u288_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
 
  #u291_img {
    border-width:0px;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
  }
  #u291 {
    border-width:0px;
    width:24px;
    height:24px;
    display:flex;
    margin-right: 5px;
  }
  #u291 .text {
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u291_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  
#u313_div {
    border-width:0px;
    left:0px;
    top:0px;
    height:27px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Arial Fett', 'Arial Standard', 'Arial';
    font-weight:700;
    font-style:normal;
    font-size:15px;
    color:#555555;
  }
  #u313 {
    border-width:0px;
    display: flex;
    width:100%;
    height:27px;
    display:flex;
    font-family:'Arial Fett', 'Arial Standard', 'Arial';
    font-weight:700;
    font-style:normal;
    font-size:15px;
    color:#555555;
  }
  #u313 .text {
    padding:5px 5px 5px 5px;
    box-sizing:border-box;
    width:100%;
  }
  #u313_text {
    border-width:0px;
    white-space:nowrap;
    text-transform:none;
  }