// .main-div {
//   display: flex;
//   flex-direction: row;
//   // flex-wrap: wrap;
//   width: 100%;
//   margin-top: 2em;
//   border: 1px solid #f5f5f6;
// }
// .div-html-element {
//   padding: 3em;
//   width: 50%;
//   display: flex;
//   justify-content: center;
// }

// .div-html-element-preview {
//   width: 50%;
//   padding: 3em;
//   align-items: center;
//   display: flex;
//   justify-content: center;
// }

// .html-element-custom {
//   display: flex;
//   flex-direction: column;
//   width: 50%;
//   justify-content: center;
// }

// .html-element-custom-result {
//   display: flex;
//   flex-direction: column;
//   width: 50%;
//   justify-content: center;
// }

// .html-elemet-buttons {
//   display: flex;
//   flex-direction: row;
//   justify-content: flex-end;
//   margin-top: 10px;
//   width: 100%;
//   margin-bottom: 200px;
// }

// .html-element-button-action {
//   height: 50px;
//   width: 200px;
//   background-color: #0d47a1;
//   color: #fff;
//   border: none;
//   border-radius: 10px;
//   margin-left: 10px;
// }

// .message-element {
//   background-color: rgba(255, 255, 255, 0.7);
//   position: absolute;
//   left: 0;
//   top: 0;
//   height: 100%;
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .message {
//   border: 1px solid #f5f5f6;
//   background-color: #fff;
//   height: 100px;
//   width: 400px;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   box-shadow: 1px 1px #d7d7d7;
//   .message-buttons {
//     display: flex;
//     .message-button-action {
//       background-color: #0d47a1;
//       color: #fff;
//       width: 80px;
//       border: none;
//       border-radius: 20px;
//       justify-content: space-around;
//       display: flex;
//     }
//   }
// }

// .button-element-instrucction {
//   text-align: center;
//   font-size: 12px;
//   color: #073a73;
// }

.container-home {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  height: 100%;
}

.column-container {
  border: 1px solid;
}

.column-container-done {
  width: 300px;
  height: 100%;
}

.column-container-component {
  display: flex;
  justify-content: flex-end;
}

h2 {
  display: flex;
  justify-content: center;
  align-self: center;
}

.list-container {
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2em;
}

mat-card {
  margin: 1em;
  cursor: pointer;
}

.list {
  border: RGBA(46, 49, 49, 0.7) solid 1px;
  border-radius: 2px;
}

.list-item {
  margin: 10px;
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

a {
  text-decoration: none;
  color: dodgerblue;
}
