<!-- <div class="container">
    <div class="row"> -->
        <!-- <h3>Create your own button</h3>
        <div class="main-div">
            <div class="div-html-element">
                <div class="html-element-custom">
                    <span>content:</span> <input type="text" [(ngModel)]="title">
                    <span>width:</span> <input type="text" [(ngModel)]="width">
                    <span>height:</span> <input type="text" [(ngModel)]="height">
                    <span>background-color:</span> <input type="text" [(ngModel)]="backgroundColor">
                    <span>border-radius:</span> <input type="text" [(ngModel)]="borderRadius">
                    <span>color:</span> <input type="text" [(ngModel)]="color">
                </div>
            </div>

            <div class="div-html-element-preview">
                <div class="html-element-custom-result">
                    <div #clone>
                        
                        <button [style.width]="width" [style.height]="height" [style.backgroundColor]="backgroundColor"
                            [style.borderRadius]="borderRadius" [style.color]="color">{{title}}</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div #result></div>

        <div *ngIf="toasIsVisible" class="message-element">
            <div class="message">
                <p>Your custom button has been saved</p>

                <div class="message-buttons">
                    <button class="message-button-action" (click)="okButton()" style="margin-right: 5px">Ok</button>
                    <button class="message-button-action" (click)="cancelButton()">Cancel</button>
                </div>
            </div>
        </div>


        <div class="html-elemet-buttons">
            <div *ngIf="!isVisible">
                <p class="button-element-instrucction">Step 1: Save your button</p>
                <button class="html-element-button-action" (click)="setButton()">Save</button>
            </div>
            <div *ngIf="isCompilerProcess">
                <p class="button-element-instrucction">Step 2: You need to compile your code</p>
                <button class="html-element-button-action" (click)="shellUp()" >Compile</button>
            </div>
            <div *ngIf="isDeploymentProcess">
                <p class="button-element-instrucction">Step 3: Deploy your App in Cloud</p>
                <button class="html-element-button-action" (click)="runServerUp()">Deployment</button>
            </div>

        </div> -->
<div class="container-home">
    <div class="column-container">
        <p>Estamos comprobando</p>
    <p>Config</p>
    </div>
    <div class="column-container-done">
        <div class="list" cdkDropList #todoList="cdkDropList" [cdkDropListData]="todos"
            [cdkDropListConnectedTo]="[doneList]" (cdkDropListDropped)="onDrop($event)">
        <p>Config</p>
            <mat-card *ngFor="let todo of todos" cdkDrag>
                <mat-card-header>
                    <mat-card-title>{{todo.name}}</mat-card-title>
                    <mat-card-subtitle>{{todo.category}}</mat-card-subtitle>
                </mat-card-header>
                
            </mat-card>
        </div>
    </div>
    
    <div class="column-container-component">
        <div class="list" cdkDropList #doneList="cdkDropList" [cdkDropListData]="completed"
            [cdkDropListConnectedTo]="todoList" (cdkDropListDropped)="onDrop($event)">
            
            <mat-card *ngFor="let complete of completed" cdkDrag>
                <mat-card-header>
                    <mat-card-title>{{complete.name}}</mat-card-title>
                    <mat-card-subtitle>{{complete.category}}</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </div>
    </div>
</div>
    <!-- </div>
</div> -->