<table style="width:100%; margin-top: 20px; text-align: center; font-family: Arial; padding-left: 20px;">
    <tr>
        <th>Batch Name</th>
        <th>Start Time</th>
        <th>Status</th>
    </tr>
    <tr>
        <td>Batch 1</td>
        <td>453355w-01</td>
        <td>05:02:01</td>
    </tr>
    <tr>
        <td>Batch 2</td>
        <td>453355w-02</td>
        <td>05:02:03</td>
    </tr>
    <tr>
        <td>Batch 3</td>
        <td>453355w-03</td>
        <td>05:02:03</td>
    </tr>
</table>
