<pc-nav></pc-nav>
<!-- Modal -->
<pc-save *ngIf="isVisibleSave"></pc-save>
<pc-deploy *ngIf="isVisibleDeploy"></pc-deploy>
<pc-icons *ngIf="isVisibleIcons"></pc-icons>
<pc-qr *ngIf="isVisibleQR"></pc-qr>
<div *ngIf="isVisibleIcons || isVisibleQR" class="pc-modal-close-button" (click)="clickCloseModal($event)">
    <img src="../../../assets/img/delete-button.svg" alt="" width="10%">
</div>
<div class="container-home">
    <div class="column-container-component">
        <div class="secciones-title">
            <p>Pages</p>
            <hr>
            <div class="seccion-title-icons">
                <i class="material-icons">add</i>
                <i class="material-icons">edit</i>
                <i class="material-icons">delete_outline</i>
                <i class="material-icons" id="seccion-title-search">search</i>
            </div>

        </div>
        <ul class="column-container-content">
            <div class="column-container-content-list">
                <i class="material-icons">keyboard_arrow_right</i>
                <!-- <i class="material-icons" style="color: white">keyboard_arrow_down</i> -->
                <button class="dropdown-btn">Home</button>
            </div>
        </ul>
        <div class="secciones-title">
            <p>Testen</p>
            <p>Components Library</p>
            <hr>
            <div class="seccion-title-icons">
                <i class="material-icons">add</i>
                <i class="material-icons">edit</i>
                <i class="material-icons">delete_outline</i>
                <i class="material-icons" id="seccion-title-search">search</i>
            </div>
        </div>
        <ul class="column-container-content">
            <!-- Navigation Bar -->
            <div>
                <div class="column-container-content-list" id="navigationList" (click)="openList($event)">
                    <!-- <i class="material-icons" style="color: white">keyboard_arrow_right</i> -->
                    <i class="material-icons">keyboard_arrow_down</i>
                    <button #dropdown class="dropdown-btn">Navigation Bar</button>
                </div>
                <div *ngIf="isVisibleNavigationList" class="dropdown-container">
                    <div id="dropListBasic" cdkDropList #navigationName="cdkDropList" [cdkDropListData]="navigation"
                        [cdkDropListConnectedTo]="[navigationCopyName]" (cdkDropListDropped)="onDrop($event)"
                        (cdkDropListEntered)="entered($event)" (cdkDropListExited)="exited($event)">
                        <div *ngFor="let item of navigation" cdkDrag [cdkDragData]="basic">
                            <p>Basic</p>
                        </div>
                    </div>
                    <div>
                        <div id="dropListHeader" cdkDropList #navigationHeaderName="cdkDropList"
                            [cdkDropListData]="navigationHeader" [cdkDropListConnectedTo]="[navigationHeaderCopyName]"
                            (cdkDropListDropped)="onDrop($event)" (cdkDropListEntered)="entered($event)"
                            (cdkDropListExited)="exited($event)">
                            <div *ngFor="let item of navigationHeader" cdkDrag [cdkDragData]="header">
                                <p>Header</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <!-- Table -->
                    <div class="column-container-content-list" id="tableList" (click)="openList($event)">
                        <!-- <i class="material-icons" style="color: white">keyboard_arrow_right</i> -->
                        <i class="material-icons">keyboard_arrow_down</i>
                        <button class="dropdown-btn">Tables</button>
                    </div>
                    <div *ngIf="isVisibleTablelist" class="dropdown-container">
                        <div id="dropListTable" cdkDropList #tableName="cdkDropList" [cdkDropListData]="table"
                            [cdkDropListConnectedTo]="[tableCopyName]" (cdkDropListDropped)="onDrop($event)"
                            (cdkDropListEntered)="entered($event)" (cdkDropListExited)="exited($event)">
                            <div *ngFor="let item of table" cdkDrag [cdkDragData]="table">
                                <p>Standard Table</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
    </div>

    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
    <div class="column-container-creator">
        <div class="column-container-creator-breadcrumb">
            <p>Home</p>
        </div>
        <div class="menu-buttons">
            <ul class="menu-button">
                <li class="menu-item">
                    <a class="menu-link" (click)="save($event)"><i class="material-icons">save</i></a>
                </li>
                <li class="menu-item" (click)="deploy($event)" disable>
                    <a class="menu-link"><i class="material-icons">backup</i></a>
                </li>
            </ul>
        </div>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
        <!-- * * * * * * * * * * * Start Smartphne container * * * * * * * -->
        <div class="smartphone-container ">
            <div class="smartphone">
                <div class="status-bar">
                    <img src="../../../assets/img/statusbar.png" alt="" width="100%">
                    <!-- <p>Status Bar</p> -->
                </div>
                <div class="navigation-bar" cdkDropList #navigationCopyName="cdkDropList"
                    [cdkDropListData]="navigationCopy" [cdkDropListConnectedTo]="[navigationName]"
                    (cdkDropListDropped)="onDrop($event)" (cdkDropListEntered)="entered($event)"
                    (cdkDropListExited)="exited($event)">
                    <p *ngIf="isVisibleTextBar">Navigation Bar</p>


                    <div *ngFor="let item of navigationCopy" cdkDrag [cdkDragData]="basic">
                        <nav>

                            <!-- <pc-navigation [title]='item.title' (click)="selectedNavigation($event)"></pc-navigation> -->
                            <div id="navigation_default" (click)="selectedNavigation($event)"
                                [style.backgroundColor]="NcolorBackground">
                                <!-- Unnamed (Shape) -->
                                <div id="u288" class="ax_default icon">
                                    <img id="u288_img" class="img " src="../../../assets/img/u288.svg" />
                                    <div id="u288_text" class="text " style="display:none; visibility: hidden">
                                        <p></p>
                                    </div>
                                </div>
                                <!-- Unnamed (Text) -->
                                <div id="u313" class="ax_default label" data-label="Fertig">
                                    <div id="u313_div" class=""></div>
                                    <div id="u313_text" class="text">
                                        <span [style.color]="NcolorText">{{titleNavigation}}</span>
                                    </div>
                                </div>

                                <!-- Unnamed (Image) -->
                                <div id="u291" class="ax_default image1">
                                    <img id="u291_img" class="img " [src]="imgNavigation" />
                                    <div id="u291_text" class="text " style="display:none; visibility: hidden">
                                        <p></p>
                                    </div>
                                </div>
                            </div>

                        </nav>
                    </div>
                </div>

                <div class="navigation-header" cdkDropList #navigationHeaderCopyName="cdkDropList"
                    [cdkDropListData]="navigationHeaderCopy" [cdkDropListConnectedTo]="[navigationHeaderName]"
                    (cdkDropListDropped)="onDrop($event)" (cdkDropListEntered)="entered($event)"
                    (cdkDropListExited)="exited($event)">
                    <p *ngIf="isVisibleHeaderText">Header (optional)</p>
                    <div *ngFor="let item of navigationHeaderCopy" cdkDrag [cdkDragData]="header">
                        <!-- <pc-header [title]='item.title' (click)="selectedHeader($event)"></pc-header> -->
                        <nav>
                            <div id="header_default" [title]='item.title' (click)="selectedHeader($event)"
                                [style.backgroundColor]="HcolorBackground">
                                <div id="u270">
                                    <div id="u270_div"></div>
                                    <div id="u270_text" class="text">
                                        <span [style.color]="HcolorText">{{titleHeader}}</span>
                                    </div>
                                </div>
                            </div>
                        </nav>

                    </div>
                </div>

                <div class="table-header" cdkDropList #tableCopyName="cdkDropList" [cdkDropListData]="tableCopy"
                    [cdkDropListConnectedTo]="[tableName]" (cdkDropListDropped)="onDrop($event)"
                    (cdkDropListEntered)="entered($event)" (cdkDropListExited)="exited($event)">
                    <p *ngIf="isVisibleTableText">Content</p>
                    <div *ngFor="let item of tableCopy" cdkDrag [cdkDragData]="table" (click)="selectedTable($event)">
                        <!-- <pc-table></pc-table> -->
                        <body>
                        <div class="table-header-title"
                            [style.background]="TcolorBackground">
                            <div class="table-header-1">
                                <div class="table-header-2">
                                    <p [style.color]="TcolorTitle" *ngFor="let item of titleDefault">{{item.name}}
                                    </p>
                                </div>
                            </div>
                            <div class="table-content">
                                <div class="table-list">
                                    <div *ngFor="let item of location">
                                        <p [style.color]="TcolorText">
                                            {{item.name}}</p>
                                    </div>
                                </div>
                                <div class="table-list">
                                    <div *ngFor="let item of material">
                                        <p [style.color]="TcolorText">{{item.name}}</p>
                                    </div>
                                </div>
                                <div class="table-list">
                                <div *ngFor="let item of quantity">
                                    <p [style.color]="TcolorText">{{item.name}}</p>
                                </div>
                            </div>
                               
                            </div>
                        </div>
                        </body>

                    </div>
                </div>
            </div>
        </div>

        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
        <!-- * * * * * * * * * * * * End container * * * * * * * * * * * * -->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * ** * * * * * -->

    </div>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
    <div class="column-container-config">
        <div class="secciones-title">
            <p>Proporties</p>
            <hr>
            <div class="seccion-title-icons">
                <i class="material-icons" id="seccion-title-search">search</i>
            </div>
        </div>
        <div style="padding: 10px;">
            <div class="column-container-congif-dropdown">
                <p>Device</p>
                <pc-dropdown-list [data]="devices"></pc-dropdown-list>
            </div>
            <div class="column-container-congif-input">
                <p>Width</p>
                <input type="text" value="375px" disabled>
            </div>
            <div class="column-container-congif-input">
                <p>Height</p>
                <input type="text" value="812px" disabled>
            </div>
        </div>

        <div class="secciones-title" *ngIf="isVisibleTable">
            <p>Data</p>
        </div>
        <div style="padding: 10px;" *ngIf="isVisibleTable">
            <div class="column-container-congif-dropdown">
                <p>Source</p>
                <pc-dropdown-list [data]="datasource" (change)="somethingChanged($event)"></pc-dropdown-list>
            </div>
            <div class="html-element-custom" *ngIf="isVisibleTable">
                <div class="element-input">
                    <p>Title 1</p>
                    <pc-dropdown-list [data]="data" (change)="valueChanged($event)"></pc-dropdown-list>
                </div>
            </div>
            <div class="html-element-custom" *ngIf="isVisibleTable">
                <div class="element-input">
                    <p>Title 2</p>
                    <pc-dropdown-list [data]="data" (change)="valueChanged($event)"></pc-dropdown-list>
                </div>
            </div>
            <div class="html-element-custom" *ngIf="isVisibleTable">
                <div class="element-input">
                    <p>Title 3</p>
                    <pc-dropdown-list [data]="data" (change)="valueChanged($event)"></pc-dropdown-list>
                </div>
            </div>
        </div>

        <div class="secciones-title">
            <p>Style</p>
        </div>
        <div style="padding: 10px;">
            <div class="html-element-custom" *ngIf="isVisibleNavigationBar">
                <div class="element-input">
                    <p>Text</p>
                    <input type="text" [(ngModel)]="titleNavigation">

                </div>
                <div class="element-input">
                    <p>Icon</p>
                    <input type="text" [value]="imgNavigation" [(ngModel)]="imgNavigation" (click)="selectedIcons($event)">
                </div>
                <div class="element-input">
                    <p>Color</p>
                    <input type="text" [(ngModel)]="NcolorText">
                </div>
                <div class="element-input">
                    <p>Background</p>
                    <input type="text" [(ngModel)]="NcolorBackground">
                </div>
            </div>

            <div class="html-element-custom" *ngIf="isVisibleHeader">
                <div class="element-input">
                    <p>Text</p>
                    <input type="text" [(ngModel)]="titleHeader">
                </div>
                <div class="element-input">
                    <p>Color</p>
                    <input type="text" [(ngModel)]="HcolorText">
                </div>
                <div class="element-input">
                    <p>Background</p>
                    <input type="text" [(ngModel)]="HcolorBackground">
                </div>
            </div>

            <div class="html-element-custom" *ngIf="isVisibleTable">
                <div class="element-input">
                    <p>Color Title</p>
                    <input type="text" [(ngModel)]="TcolorTitle">

                </div>
                <div class="element-input">
                    <p>Color Content</p>
                    <input type="text" [(ngModel)]="TcolorText">
                </div>
                <div class="element-input">
                    <p>Background</p>
                    <input type="text" [(ngModel)]="TcolorBackground">
                </div>
            </div>


        </div>

    </div>
</div>