
                       
                            <!-- <pc-navigation [title]='item.title' (click)="selectedNavigation($event)"></pc-navigation> -->
                            <div id="navigation_default" >
                                <!-- Unnamed (Shape) -->
                                <div id="u288" class="ax_default icon">
                                    <img id="u288_img" class="img " src="../../../assets/img/u288.svg" />
                                    <div id="u288_text" class="text " style="display:none; visibility: hidden">
                                        <p></p>
                                    </div>
                                </div>
                                <!-- Unnamed (Text) -->
                                <div id="u313" class="ax_default label" data-label="Fertig">
                                    <div id="u313_div" class=""></div>
                                    <div id="u313_text" class="text">
                                        <span>{{titleNavigation}}</span>
                                    </div>
                                </div>

                                <!-- Unnamed (Image) -->
                                <div id="u291" class="ax_default image1">
                                    <img id="u291_img" class="img " [src]="imgNavigation" />
                                    <div id="u291_text" class="text " style="display:none; visibility: hidden">
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                    
                            <div id="header_default">
                                    <div id="u270">
                                        <div id="u270_div"></div>
                                        <div id="u270_text" class="text">
                                            <span style="color: #073a73">{{titleHeader}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-header-title"
                                [style.background]="TcolorBackground">
                                <div class="table-header-1">
                                    <div class="table-header-2">
                                        <p [style.color]="TcolorTitle" *ngFor="let item of titleDefault">{{item.name}}
                                        </p>
                                    </div>
                                </div>
                                <div class="table-content">
                                    <div class="table-list">
                                        <div *ngFor="let item of location">
                                            <p [style.color]="TcolorText">
                                                {{item.name}}</p>
                                        </div>
                                    </div>
                                    <div class="table-list">
                                        <div *ngFor="let item of material">
                                            <p [style.color]="TcolorText">{{item.name}}</p>
                                        </div>
                                    </div>
                                    <div class="table-list">
                                    <div *ngFor="let item of quantity">
                                        <p [style.color]="TcolorText">{{item.name}}</p>
                                    </div>
                                </div>
                                   
                                </div>
                            </div>
              
              
              
              
                    <!-- <table>
                        <tr>
                            <ng-container *ngFor="let key of objectKeys(storageLocation[0])">
                                <th *ngIf="displayColumns.includes(key)">
                                    {{key}}
                                </th>
                            </ng-container>
                        </tr>
                        <tr *ngFor="let object of storageLocation">
                            <ng-container *ngFor="let itemKey of objectKeys(object)">
                                <td *ngIf="displayColumns.includes(itemKey)">{{object[itemKey]}}</td>
                            </ng-container>
                    
                        </tr>
                    </table>
                  -->
                                        