<div class="pc-container-background">
    <div class="pc-login-container">
        <div class="pc-login-container-left">
        </div>

        <div class="pc-login-container-center">
            <div class="pc-login-content">
                <div class="pc-login-buttons">
                    <div style="justify-content: center; display: flex;">
                        <img src="../../../assets/img/iso.png" alt="" width="60%">
                    </div>
                    <div class="div-form">
                        <p>Log in to your account</p>
                        <div class="div-button">
                            <img src="../../../assets/img/favicon.png" alt="">
                            <button (click)="signIn()">Sign in with ProleiT</button>
                        </div>
                    </div>


                    <!-- <div #googleSignIn></div> -->
                    <!-- <lib-pro-login></lib-pro-login> -->
                </div>
            </div>
        </div>
        <div class="pc-login-container-right">
        </div>

    </div>
</div>