
<h3>Create your own button</h3>

<div #clone>
    <button [style.width]="width" [style.height]="height" [style.backgroundColor]="backgroundColor"
        [style.borderRadius]="borderRadius" [style.color]="color">Button</button>
</div>

<br>
<br>
<span>width:</span> <input type="text" [(ngModel)]="width">
<span>height:</span> <input type="text" [(ngModel)]="height">
<span>background-color:</span> <input type="text" [(ngModel)]="backgroundColor">
<span>border-radius:</span> <input type="text" [(ngModel)]="borderRadius">
<span>color:</span> <input type="text" [(ngModel)]="color">

<hr>
<br>
<br>


<button (click)="setButton()">Export button</button>
<div #result></div>

<hr>
<button (click)="shellUp()" style="height: 50px; width: 200px; background-color: #073a73; color: #fff; border: none; border-radius: 20px; ">Save</button> <br><br>

<button (click)="runServerUp()" style="height: 50px; width: 200px; background-color: #073a73; color: #fff; border: none; border-radius: 20px; ">Run the App</button>