<div class="overlay-icon"></div>
<div class="icons">
    <div class="icons">
        <div class="background-cloud">
            <div id="background-wrap">
                <div class="x1">
                    <div class="cloud"></div>
                </div>
                <div class="x2">
                    <div class="cloud"></div>
                </div>
                <div class="x3">
                    <div class="cloud"></div>
                </div>
                <div class="x4">
                    <div class="cloud"></div>
                </div>
                <div class="x5">
                    <div class="cloud"></div>
                </div>
            </div>
        </div>
        <h1>We are deploying your Project</h1>
    </div>